/*Font*/

@font-face{ 
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
 }

a{
    text-decoration: none;
}

.logoheader{
    color: black;
    font-family: 'Shrikhand', cursive;
    font-size: 2.5em;
    text-align: center;
}

#ContLoc{
    border: 1px #eaeaea solid;
    padding: 1em 1em;
    width: 100%;
    background-color:#eaeaea;
    color: black;
    box-shadow: -5px 3px 10px #cecece inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#ville{
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-size: 1.2em;
    color: black;
}

#MapMarker{
    align-items: center;
    padding-right: 4em;
}

#ContExplorer{
    border: 1px #f6f6f6 solid;
    font-family: 'Roboto', sans-serif;
    padding: 3em 3em;
    padding-bottom: 7em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#Explorer{
    border: 1px transparent;
    box-shadow: 7px 7px 10px #cecece;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15em;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 1em;
    text-align: center;
    margin-bottom: 3em;
    margin-top: -6em;
    width: 27%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
}

#Fonctionnement{
    font-family: 'Roboto', sans-serif;
    margin-left: 1em;
    margin-top: 4em;
}

.ContFonction{
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.navfonction{
    display: block;
    display: flex;
    align-items: baseline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background-color: #f6f6f6;
    border-radius: 11em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.number{
    border-radius: 50%;
    width: 19px;
    height: 19px;
    padding: 2px;
    margin-left: -0.5em;
    background-color: #9356DC;
    color: white;
    border: 2px solid #9356DC;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.iconfonction{
    color: #7e7e7e;
    margin-left: 1em;
}

.menufonction{
    font-family: 'Roboto', sans-serif;
    margin-left: 1.5em;
}



footer a{
    text-decoration: none;
    color: white;
}

#footerlogo{
    color: white;
    font-family: 'Shrikhand', cursive;
    margin: 0em 2em 0.5em 0em;
    font-size: 180%;
}

footer{
    background-color: #353535;
    color: white;
    width: 90%;
    padding: 1em 2em 2em 3em;
}

.navfooter{
    font-family: 'Roboto', sans-serif;
    margin-top: 1.7em;
}

#navfootera{
    margin: 1.6em;
    margin-top: -1em;
}

#navfooterb{
    margin: 1.7em;
    margin-top: -1em;
}
